h1, h2, h3, table{
  text-align: center;
  margin: auto;
  margin-bottom:20px;
}
td{
  border-radius:50%;
  border: solid 3px black;
  width:100px;
  height:100px;
  background-color: gray;
}
